@import "tailwindcss";

/*Theme*/

@theme {
  --color-brand: #6e026f;

  @keyframes jump {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  --animate-jump: jump 0.3s ease-in-out;
}

/*Fonts*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat-alternates);
}

/*sr only*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
